.login {
    width: 100%;
    height: 100%;
      display: flex;
      justify-content: space-between;
      position:relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top-center;
      background-color: none;
      
      margin: 0;
      padding: 0;
}

.headersection {
    z-index: 3;
    flex:3;
    
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.style{
    background-size: cover;
    position:absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    z-index:-2;
    margin: 0;
      padding: 0;
}

.leftlog{
    height:15rem;
    
    
}

.login-text {
    position:relative;
    margin-top:5rem ;
    margin-bottom: 4rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
    justify-content: flex-start;
    
    
  }

  .loginform {
    height: auto;
    max-width: 26rem;
    width: 23rem;
    background-color: black;
    border: 2px solid white;;
    border-color: white;
    border-radius: 10px;
    margin-top:20rem;
   /* // margin-left: 15rem; */
    margin-right: 35rem;
    position: center;
    margin-bottom: 2rem;
    align-items: center;
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
  
    padding: 20px;
    
    margin-left: -29rem;
    
    /* position: relative; */
}

.logininput, .signinbutton {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 22rem;
  background-color: rgb(188, 88, 88);
  margin-bottom: 2rem;
  align-self: center;
  padding-right: -7rem;
}

.loginlabel {
    color: rgb(254, 254, 254);
    margin-top: 1rem;
}



.signinbutton {
    padding-top: 500rem;
    margin-left: 3rem;
  
  background-color: brown;
  color:black;
  
  
}

.signinbutton:hover {
    background-color: white;
    cursor: pointer;
}

.signinbutton:disabled {
    background-color: gray;
    color: white;
}

.signinbutton {
    
  padding: 0.25rem;
  width: 22rem;
  margin-left: 0.3rem;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}


  .hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.no-underlinelogin:hover {
    color:brown;
}

/* Modal Container */
.modal-container {
    display: none; /* Initially hidden */
    position: fixed; /* Fixed position on the screen */
    top: 10rem;
    left: 30rem;
    width: 25%; /* Full width */
    height: 25%; /* Full height */
    background-color: brown; /* Semi-transparent background overlay */
    z-index: 1000; /* Ensure the modal appears on top of other content */
    overflow: auto; /* Enable scrolling if content overflows */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: brown;
    border-radius: 5px;
    margin: 50% auto; /* Centered vertically and horizontally */
    padding: 50px;
    max-width: 40px; /* Adjust the maximum width as needed */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Close Button */
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

   

@media screen and (max-width: 768px) {
    .login-section {
        flex-direction: column;
    }

    .leftlog {
        
        text-align: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .login {
        flex-direction: column;
        justify-content: flex-start; /* Align content to the top */
        align-items: center;
    }

    .style {
        background-size: contain; /* Adjust as needed */
        height: 200px; /* Adjust the height for the image */
    }

    .loginform {
        max-width: 75%; /* Allow it to take the full width on smaller screens */
        margin: 3rem; /* Add margin for spacing */
        align-items: center;
    }

    .logininput,
    .signinbutton {
        
        align-items: center;
        width: 89%; /* Make inputs and button full width */
    }

    .logininput {
        padding-right: -3rem;
        width: 15rem;
    }

    .loginlable {
        margin-top: 0.5rem; /* Adjust margin for labels */
    }

    .login-text {
        
        margin-top: 4rem; /* Adjust top margin for text */
        font-size: 2px; /* Adjust font size for text */
        text-align: left; /* Center text */
    }

    .errmsg {
        margin-top: 1rem; /* Adjust top margin for error message */
        margin-bottom: 1rem; /* Adjust bottom margin for error message */
    }
}
