/* Default styles for large screens */
.booking {
    margin-left: 30rem;
    margin-top: -30rem;
    padding-bottom: 30rem;
  }

  /* Add this CSS to your component's CSS file or style block */

/* Add this CSS to your component's CSS file or style block */

.bookingtable {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  
  font-size: 16px;
  color: white;
}

.bookingth,
.bookingtable td {
  border: 1px solid #ddd;
  padding: 9px;
  text-align: left;
}

.bookingtable th {
  background-color: #333;
  color: #fff;
}

.bookingtable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bookingtable tbody tr:hover {
  background-color: #ddd;
}
  
  /* Media query for screens smaller than 768px (e.g., mobile devices) */
  @media screen and (max-width: 768px) {
      .bookings-container {
        flex-direction: column; /* Stack elements vertically on small screens */
      }
    
      .booking {
        margin-left: 0; /* Remove left margin on small screens */
      }
  
      .bookingsheader {
          margin-left: 2rem;
      }
    
      /* Add more responsive styles as needed */
    }